/* You can add global styles to this file, and also import other style files */
.header img {
  float: center;
  width: 180px;
  height: 180px;
  background: #555;
  margin-left: 540px;
  margin-top: 140px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 100px;
  padding-left: 100px;
}
